{% extends "partials/layout.njk" %}
{% block title %}Form{%endblock%}
{% block content%}
<h1>Form</h1>
<form >
<p>
    <label for="fname">First name</label> <br>
    <input id = "fname" type="text" placeholder= "First name" name="frame">
</p>

  <p>
     <label for="fname">Last name</label> <br>
    <input id = "fname" type="text" placeholder= "Last name" name="frame">
  </p>

   <p>
    <label for="fname">Age</label> <br>
    <input id = "fname" type="number" min= "0" max= "200" step= "0.1" placeholder= "Age" name="frame">
   </p>

 <p>
    <input type="submit" value="Send">
 </p>

</form>

{% endblock %}
