{% extends "partials/layout.njk" %}
{% block title %}Page2{%endblock%}
{% block content%}
    <h1>Teine lehekülg! <sup>mjau</sup></h1>
{% endblock %}



                                                             